<div th:fragment="arrowCard(title, subtitle, datePrefix, dateValue, completed, arrowLink)" xmlns:th="http://www.thymeleaf.org">

  <a th:href="@{${arrowLink}}" aria-label="View Details" class="cardLink">
  <div class="card arrow-card flex-row">
    <div class="arrow-card-content">
      <div class="card-header">
        <h3 th:text="${title}">Card Title</h3>
        <p class="subtitle" th:text="${subtitle}">Subtitle</p>

        <div th:if="${dateValue != null}">
          <p class="date"
             th:text="${datePrefix + ': ' + #temporals.format(dateValue, 'MM/dd/yyyy hh:mm a')}">
          </p>

       <!--   <span class="badge rounded-pill bg-warning text-dark"
                  th:if="${(completed == null or completed == false) and dateValue.isBefore(T(java.time.LocalDateTime).now())}"
                th:text="${'Past Due'}">
          </span> -->

          <span class="badge rounded-pill bg-success"
                  th:if="${completed == true}"
                th:text="${'Task Complete'}">
          </span>
        </div>

      </div>
    </div>

    <div class="card-arrow">
        <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
  </a>
</div>
