<div th:fragment="arrowCard(title, subtitle, datePrefix, dateValue, arrowLink)" xmlns:th="http://www.thymeleaf.org">

  <a th:href="@{${arrowLink}}" aria-label="View Details" class="cardLink">
  <div class="card arrow-card flex-row">
    <div class="arrow-card-content">
      <div class="card-header">
        <h3 th:text="${title}">Card Title</h3>
        <p class="subtitle" th:text="${subtitle}">Subtitle</p>
        <p class="date"
           th:if="${dateValue != null and !#strings.isEmpty(dateValue)}"
           th:text="${datePrefix + ': ' + dateValue}">
          Saved/Due: MM/DD/YYYY
        </p>
      </div>
    </div>

    <div class="card-arrow">
        <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
  </a>
</div>
