<div th:fragment="main-nav" xmlns:th="http://www.thymeleaf.org">

    <!-- Desktop Nav -->
    <nav class="main-nav top-nav">
        <div class="nav-left-wrapper">
            <a th:href="@{/}" class="logo">CakeQuest</a>
            <div class="nav-links">
                <a th:href="@{/}">Cakes</a>
                <a th:href="@{/recipes}">Recipes</a>
                <a th:href="@{/shopping}">Shopping</a>
            </div>
        </div>
        <div class="nav-right">
            <a th:href="@{/profile}" class="profile-icon">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
    </nav>

    <!-- Mobile Bottom Nav -->
    <nav class="main-nav bottom-nav">
        <a th:href="@{/}">
            <i class="fa-solid fa-cake-candles"></i>
        </a>
        <a th:href="@{/recipes}">
            <i class="fa-solid fa-book"></i>
        </a>
        <a th:href="@{/shopping}">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <a th:href="@{/profile}">
            <i class="fa-solid fa-user"></i>
        </a>
    </nav>
</div>
