<div th:fragment="pantryCard(title, subtitle)" xmlns:th="http://www.thymeleaf.org">
    <div class="card pantry-card">
      <div class="pantry-card-content">
        <div class="card-header">
          <h3 th:text="${title}">Card Title</h3>
          <p class="subtitle" th:text="${subtitle}">Subtitle</p>
          <div class="input-row flex-row">
            <label for="pantry-amount" class="ingredient-card-label">Amount in Pantry:</label>
            <div class="ingredient-inputs flex-row">
            <input type="text" id="pantry-amount" class="form-control" placeholder="Estimate amount">
            <span class="ingredient-card-unit">grams</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>