<div th:fragment="recipeCard(name, recipeType, savedDate, detailLink)" xmlns:th="http://www.thymeleaf.org">
  <div class="recipe-card card-with-arrow">
    <div class="recipe-card-content">
      <div class="recipe-header">
        <h3 th:text="${name}">Recipe Name</h3>
        <p class="type" th:text="${recipeType}">Recipe Type</p>
        <p class="saved-date" th:text="'Saved: ' + ${savedDate}">Saved: MM/DD/YYYY</p>
    </div>
    </div>
    <div class="card-arrow">
      <a th:href="@{${detailLink}}" aria-label="View Details">➔</a>
    </div>
  </div>
</div>
