<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Cake Details</title>
</head>
<body>
<main layout:fragment="content">
    <div  class="cakeInfoPage">
        <div class="heading">
            <div class="back-link">
                <a class="link" th:href="@{/}"><i class="fa-solid fa-chevron-left"></i></a>
            </div>
        <div class="title">
            <h1 th:text="${cakeOrder != null} ? ${cakeOrder.cakeName} : 'Cake Details'"></h1>
        </div>
        </div>
        <div class="info">
            <h2 th:if="${toDoTasks != null and !toDoTasks.isEmpty()}"
                class="section-title">To Do</h2>
            <div th:each=" task : ${toDoTasks}">
                <div th:replace="~{fragments/arrowCard :: arrowCard(
                                 ${task.name},
                                 '',
                                 'Task Due',
                                 ${task.dueDate != null ? #temporals.format(task.dueDate, 'MM/dd/yyyy @ HH:mm') : 'TBD'},
                                 ${'/task/' + task.taskType + '/' + task.taskId + backUrl}
                                 )}"></div>
            </div>

            <h2 th:if="${completedTasks != null and !completedTasks.isEmpty()}"
                    class="section-title">Completed Tasks</h2>
            <div th:each=" task : ${completedTasks}">
                <div th:replace="~{fragments/arrowCard :: arrowCard(
                                 ${task.name},
                                 '',
                                 'Task Due',
                                 ${task.dueDate != null ? #temporals.format(task.dueDate, 'MM/dd/yyyy @ HH:mm') : 'TBD'},
                                 ${'/task/' + task.taskType + '/' + task.taskId + backUrl}
                                 )}"></div>
            </div>
        </div>

        <div>
            <a th:href="@{/cakeForm}" class="btn">Edit Cake</a>
        </div>
        <form th:action="@{/cake/delete/{id}(id=${cakeOrder.cakeId})}" method="post">
            <div class="shopping-btn-wrapper center">
                <button type="submit" class="btn-link"
                        onclick="return confirm('Delete this cake order? This cannot be undone.')">
                    Delete
                </button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
