<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Cake Details</title>
</head>
<body>
<main layout:fragment="content">
    <div  class="cakeInfoPage">
        <div class="title">
            <h1 th:text="${cakeOrder != null} ? ${cakeOrder.cakeName} : 'Cake Details'"></h1>
        </div>

        <div class="info">
            <div th:each=" task : ${tasks}">
                <div th:replace="~{fragments/arrowCard :: arrowCard(
                                 ${task.name},
                                 '',
                                 'Task Due',
                                 ${task.dueDate != null ? #temporals.format(task.dueDate, 'MM/dd/yyyy @ HH:mm') : 'TBD'},
                                 ${'/task/' + task.taskType + '/' + task.taskId}
                                 )}"></div>
            </div>
        </div>

        <div>
            <a th:href="@{/cakeForm}" class="btn">Edit Cake</a>
        </div>
        <div>
            <a href="#" class="link" >Delete Cake</a>
        </div>
    </div>
</main>
</body>
</html>
