<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Decorate Details</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <div class="title">
            <h1 th:text="${task.name}">Decorate Cake</h1>
            <p class="complete" th:if="${task.completed}">This task has been marked complete! </p>
        </div>
        <div class="details">
            <p><strong>Due: </strong> <span th:text="${#temporals.format(task.dueDate, 'MM/dd/yyyy @ HH:mm')}">TBD</span></p>
        </div>

        <div class="details" th:if="${task.dietaryRestriction != null}">
            <p><strong>Dietary Restrictions: </strong> <span th:text="${task.dietaryRestriction}"></span></p>
        </div>

        <div class="details" th:if="${task.decorationNotes != null}">
            <p><strong>Decoration Notes: </strong> <span th:text="${task.decorationNotes}"></span></p>
        </div>

        <form th:action="@{'/task/DECORATE/' + ${task.taskId}}" method="post">
            <div class="shopping-btn-wrapper center" th:if="${mode == 'task' and !task.completed}">
                <button type="submit" class="btn">Mark Task As Complete</button>
            </div>
            <div class="shopping-btn-wrapper center" th:if="${mode == 'task' and task.completed}">
                <button type="submit" name="reopen" value="true" class="btn">Reopen Task</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>