<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>CakeQuest</title>
</head>
<body>
<main layout:fragment="content">
    <div class="home-header-grid">
        <div class="home-header-left-column">
            <h1 th:text="'Hi '+ ${user.firstName} + '!'">Welcome back, FirstName!</h1>
            <p class="tagline">Let's bake something sweet!</p>
            <a th:href="@{/cakeForm}" class="btn new-cake-btn">+ New Cake</a>
        </div>
    <div class="home-header-right-column">
        <img src="/images/pngtreeWatercolorCakeOrange.png" alt="Watercolor Orange Cake" />
    </div>
    </div>
    <div class="dashboard-grid">
        <div class="dashboard-left-column">
            <h2 class="section-title"  th:if="${toDoTasks != null and !#lists.isEmpty(toDoTasks)}">To Do</h2>
            <div th:each=" task : ${toDoTasks}">
                <div th:replace="~{fragments/arrowCard :: arrowCard(
                                 ${task.name},
                                 '',
                                 'Task Due',
                                 ${task.dueDate != null ? #temporals.format(task.dueDate, 'MM/dd/yyyy @ HH:mm') : 'TBD'},
                                 ${'/task/' + task.taskType + '/' + task.taskId + backUrl}
                                 )}"></div>
             </div>
        </div>

        <div class="dashboard-right-column">
            <h2 class="section-title" th:if="${upcomingCakes != null and !#maps.isEmpty(upcomingCakes)}">Upcoming Cakes</h2>
            <div th:each="entry : ${upcomingCakes}" th:with="cake=${entry.key}, progress=${entry.value}">
                <div th:insert="~{fragments/progressBarCard :: progressBarCard(
                       ${cake.cakeName},
                       ${cake.flavorSummary},
                       ${cake.dueDate != null ? #temporals.format(cake.dueDate, 'MM/dd/yyyy @ HH:mm') : 'TBD'},
                       ${progress},
                       ${'/cakes/' + cake.cakeId + backUrl}
                       )}"></div>
            </div>
            <h2 class="section-title" th:if="${pastCakes != null and !#maps.isEmpty(pastCakes)}">Past Cakes</h2>
            <div th:each="entry : ${pastCakes}" th:with="cake=${entry.key}, progress=${entry.value}">
                <div th:insert="~{fragments/progressBarCard :: progressBarCard(
                       ${cake.cakeName},
                       ${cake.flavorSummary},
                       ${cake.dueDate != null ? #temporals.format(cake.dueDate, 'MM/dd/yyyy @ HH:mm') : 'TBD'},
                       ${progress},
                       ${'/cakes/' + cake.cakeId + backUrl}
                       )}"></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>

