<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<main layout:fragment="content">
<div class="container">
  <div class="heading">
    <div class="back-link">
      <a class="link" th:href="${backUrl}"><i class="fa-solid fa-chevron-left"></i></a>
    </div>

    <div class="title">
      <h1>Log In</h1>
      <p th:if="${mode == 'signup'}">Sign up successful! Go ahead and log in.</p>
    </div>
  </div>
  <form th:action="@{/login}" method="post">
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input type="email" name="username" class="form-control" id="inputEmail" placeholder="name@example.com" required>
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
    </div>
    <div class="alert alert-danger" th:if="${error}" th:text="${error}">Error message</div>
    <div class="saveBtn">
      <button type="submit" class="btn">Log In</button>
    </div>
  </form>
</div>
</main>
</body>
</html>