<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>New Recipe</title>
</head>
<body class="newRecipePage">
<main layout:fragment="content">
  <div class="heading">
    <div class="back-link">
      <a class="link" th:href="${backUrl}"><i class="fa-solid fa-chevron-left"></i></a>
    </div>

    <div class="title">
        <h1>Import New Recipe</h1>
    </div>
  </div>

    <form method="post" th:action="@{/recipes/new}">
        <input type="hidden" name="backUrl" th:value="${backUrl}" />
    <div class="mb-3">
        <label for="urlInput">Simply paste in the URL of your favorite online recipe and we will do the rest.</label>
        <input type="text" class="form-control" id="urlInput" name="recipeUrl" placeholder="URL" required>
    </div>
        <div class="mb-3">
            <label for="recipeTypeSelect">Recipe Type: </label>
            <select class="custom-select" name="recipeType" id="recipeTypeSelect">
                <option disabled selected>Select Type... </option>
                <option th:each="type : ${recipeTypes}"
                        th:value="${type}"
                        th:text="${type}"></option>
            </select>
            <i class="fa-solid fa-chevron-down custom-select-icon"></i>
        </div>
        <div class="saveBtn">
            <button type="submit" class="btn">Save</button>
        </div>
    </form>
</main>
</body>
</html>