<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Pantry Shopping List</title>
</head>
<body>
<main layout:fragment="content">
    <form th:action="@{/task/SHOP_PANTRY/{id}(id=${task.taskId})}" method="post">
        <input type="hidden" name="backUrl" th:value="${backUrl}" />
     <div class="heading">
        <div class="back-link">
            <a class="link" th:href="${backUrl}"><i class="fa-solid fa-chevron-left"></i></a>
        </div>

        <div class="title">
            <h1 th:text="${task.name}">Pantry Shopping</h1>
            <p class="complete" th:if="${task.completed}">
                This task has been marked complete! Time to head to the store.
            </p>
            <p th:if="${!task.completed}" class="tagline">
                Shop your pantry first! Input the amount you already have — if you have none, input 0.
            </p>
            <div th:if="${task.dietaryRestriction != null and !#strings.isEmpty(task.dietaryRestriction)}">
                <i class="fa-solid fa-star star-icon"></i>
                <span th:text="${'Don''t forget! This cake needs to be ' + task.dietaryRestriction + ', check each ingredient.'}"></span>
                <i class="fa-solid fa-star star-icon"></i>
            </div>

            </div>
        </div>
     </div>
        <div class="pantry-cards" th:if="${!task.completed}">
            <div th:each="item : ${task.shoppingList.items}">
                <div th:replace="~{fragments/pantryCard :: pantryCard(
              ${item.name},
              ${'Total Needed: ' + item.amount + ' ' + item.unit},
              ${item.unit}
         )}"></div>
            </div>
        </div>
        <div class="pantry-cards" th:if="${task.completed}">
            <div th:each="item : ${task.shoppingList.items}">
                <div th:replace="~{fragments/pantryVOCard :: pantryVOCard(
              ${item.name},
              ${item.amount},
              ${item.unit}
         )}"></div>
            </div>
        </div>
        <div class="shopping-btn-wrapper center" th:if="${mode == 'task' and !task.completed}">
            <button type="submit" class="btn">Mark Task As Complete</button>
        </div>
        <div class="shopping-btn-wrapper center" th:if="${mode == 'task' and task.completed}">
        <button type="submit" name="reopen" value="true" class="btn">Reopen Task</button>
        </div>
    </form>
</main>
</body>
</html>
