<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<main layout:fragment="content">
    <!-- Recipe Header -->
    <div class="recipe-header-grid">
        <div class="recipe-header-left-column">
            <h1>Saved Recipes</h1>
            <p>Sorted By Category</p>
            <a href="/recipes/new" class="btn new-cake-btn">+ New Recipe</a>
        </div>
        <div class="recipe-header-right-column">
            <form th:action="@{/recipes}" method="get">
                <input type="hidden" name="type" th:value="${selectedType}">
                <div class="input-group">
                    <input type="text" name="query" class="form-control"
                           placeholder="Search recipes by name..."
                           th:value="${query}">
                    <button class="btn btn-outline-secondary search" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="recipe-filter">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${selectedType == 'all'} ? 'active'" href="?type=all">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${selectedType == 'cake'} ? 'active'" href="?type=cake">Cakes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${selectedType == 'filling'} ? 'active'" href="?type=filling">Fillings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${selectedType == 'frosting'} ? 'active'" href="?type=frosting">Frostings</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" th:classappend="${selectedType == 'other'} ? 'active'" href="?type=other">Other</a>
            </li> -->
        </ul>
    </div>

    <div class="recipe-list-grid">
        <div th:each="recipe : ${recipes}">
            <div th:replace="fragments/arrowCard :: arrowCard(
            ${recipe.recipeName},
            ${recipe.recipeType},
            '',
            '',
            ${'/recipes/' + recipe.userRecipeId})"></div>
        </div>
    </div>

</main>
</body>
</html>