<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Recipe Details</title>
</head>
<body class="recipeInfoPage">
<main layout:fragment="content">
    <div class="title">
        <h1 th:text="${recipe.recipeName}">Recipe Name</h1>
        <div th:if="${mode == 'task'}">
            <p class="complete" th:if="${task.completed}">This task has been marked complete! </p>
        </div>
    </div>

    <div class="container">
        <div class="info">
            <h2 class="recipe-section-title">Ingredients</h2>
            <ul class="details-list">
                <li th:each="ingredient : ${recipe.ingredients}"
                    class="recipe-item"
                    th:text="${mode == 'task' ? (ingredient.amount * multiplier) : ingredient.amount} + ' ' + ${ingredient.unit} + ' ' + ${ingredient.name}">
                </li>
            </ul>
        </div>
    </div>


    <div class="container">
        <div class="info">
            <h2 class="recipe-section-title">Instructions</h2>
            <ol class="details-list">
                <li th:each="step : ${#strings.arraySplit(recipe.instructions, '\\|')}"
                    th:text="${step}" class="recipe-item">
                    Example Step
                </li>
            </ol>
        </div>
    </div>

    <div th:if="${mode == 'task'}">
    <form th:action="@{'/task/' + ${task.taskType} + '/' + ${task.taskId}}" method="post">
        <input type="hidden" name="backUrl" th:value="${backUrl}" />
        <div class="shopping-btn-wrapper center" th:if="${mode == 'task' and !task.completed}">
            <button type="submit" class="btn">Mark Task As Complete</button>
        </div>
        <div class="shopping-btn-wrapper center" th:if="${mode == 'task' and task.completed}">
            <button type="submit" name="reopen" value="true" class="btn">Reopen Task</button>
        </div>
        <div class="shopping-btn-wrapper center">
            <a class="link" th:href="@{${backUrl}}">← Back</a>
        </div>
    </form>
    </div>
    <div th:if="${mode == 'read'}">
            <div class="shopping-btn-wrapper center">
                <a class="link" th:href="@{/recipes}">← Back</a>
            </div>
        </form>
    </div>

</main>
</body>
</html>
