<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Recipe Details</title>
</head>
<body class="recipeInfoPage">
<main layout:fragment="content">
    <div class="heading">
        <div class="back-link">
        <a class="link" th:href="@{${backUrl}}"><i class="fa-solid fa-chevron-left"></i></a>
        </div>

        <div class="title">
        <h1 th:text="${recipe.recipeName}">Recipe Name</h1>
            <div class="alert alert-success" role="alert" th:if="${message}" th:text="${message}"></div>
            <div th:if="${mode == 'task'}">
                <p class="complete" th:if="${task.completed}">This task has been marked complete! </p>
            </div>
        </div>
        </div>
    </div>


    <div class="container">
        <div class="info">
            <h2 class="recipe-section-title">Ingredients</h2>
            <ul class="details-list">
                <li th:each="ingredient : ${recipe.ingredients}"
                    class="recipe-item"
                    th:text="${(mode == 'task' ? (ingredient.amount * multiplier) : ingredient.amount) + ' ' + ingredient.unit + ' ' + ingredient.name}">
                </li>
            </ul>
        </div>
    </div>


    <div class="container">
        <div class="info">
            <h2 class="recipe-section-title">Instructions</h2>
            <ol class="details-list">
                <li th:each="step : ${#strings.arraySplit(recipe.instructions, '\\|')}"
                    th:text="${step}" class="recipe-item">
                    Example Step
                </li>
            </ol>
        </div>
    </div>

    <div th:if="${mode == 'task'}">
        <form th:action="@{/task/{type}/{id}(type=${task.taskType}, id=${task.taskId})}" method="post">
        <input type="hidden" name="backUrl" th:value="${backUrl}" />
        <div class="shopping-btn-wrapper center" th:if="${mode == 'task' and !task.completed}">
            <button type="submit" class="btn">Mark Task As Complete</button>
        </div>
        <div class="shopping-btn-wrapper center" th:if="${mode == 'task' and task.completed}">
            <button type="submit" name="reopen" value="true" class="btn">Reopen Task</button>
        </div>
    </form>
    </div>
    <div th:if="${mode == 'read'}">
        <div class="shopping-btn-wrapper center">
            <a th:href="@{/recipes/edit/{id}(id=${recipe.userRecipeId})}" class="btn">Edit Recipe</a>
        </div>

        <form th:action="@{/recipe/delete/{id}(id=${recipe.userRecipeId})}" method="post">
            <div class="shopping-btn-wrapper center">
            <button type="submit" class="btn-link"
                    onclick="return confirm('Delete this recipe? This cannot be undone.')">
                Delete Recipe
            </button>
                </div>
        </form>
    </div>


</main>
</body>
</html>
