<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Recipe Details</title>
</head>
<body class="recipeInfoPage">
<main layout:fragment="content">
    <div class="title">
        <h1 >Recipe Name</h1>
    </div>
  <div class="container">
      <div class="info">
      <h2 class="recipe-section-title">Ingredients</h2>

      <ul class="details-list">
          <li class="recipe-item">About 2 pounds ripe red tomatoes, cored and roughly cut into chunks</li>
          <li class="recipe-item">1Italian frying (cubanelle) pepper or another long, light green pepper, such as Anaheim, cored, seeded and roughly cut into chunks</li>
          <li class="recipe-item">1cucumber, about 8 inches long, peeled and roughly cut into chunks</li>
          <li class="recipe-item">1small mild onion (white or red), peeled and roughly cut into chunks</li>
          <li class="recipe-item">1clove garlic</li>
          <li class="recipe-item">2teaspoons sherry vinegar, more to taste</li>
          <li class="recipe-item">Salt</li>
          <li class="recipe-item">½cup extra-virgin olive oil, more to taste, plus more for drizzling</li>
      </ul>
      </div>
  </div>
  <div class="container">
      <div class="info">
      <h2 class="recipe-section-title">Instructions</h2>
      <ol class="details-list">
          <li class="recipe-item">Combine tomatoes, pepper, cucumber, onion and garlic in a blender or, if using a hand blender, in a deep bowl. (If necessary, work in batches.) Blend at high speed until very smooth, at least 2 minutes, pausing occasionally to scrape down the sides with a rubber spatula.</li>
          <li class="recipe-item">With the motor running, add the vinegar and 2 teaspoons salt. Slowly drizzle in the olive oil. The mixture will turn bright orange or dark pink and become smooth and emulsified, like a salad dressing. If it still seems watery, drizzle in more olive oil until texture is creamy.</li>
          <li class="recipe-item">Strain the mixture through a strainer or a food mill, pushing all the liquid through with a spatula or the back of a ladle. Discard the solids. Transfer to a large pitcher (preferably glass) and chill until very cold, at least 6 hours or overnight.</li>
          <li class="recipe-item">Before serving, adjust the seasonings with salt and vinegar. If soup is very thick, stir in a few tablespoons ice water. Serve in glasses, over ice if desired, or in a bowl. A few drops of olive oil on top are a nice touch.</li>
      </ol>
      </div>
  </div>
    <div class="shopping-btn-wrapper center">
        <a href="#" class="btn shopping-btn">Mark As Complete</a>
    </div>
</main>
</body>
</html>