<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Shopping List</title>
</head>
<body class="shoppingListPage">
<main layout:fragment="content">
  <div class="container">
  <form th:action="@{/task/SHOP_STORE/{id}(id=${task.taskId})}" method="post">
    <div class="title">
      <h1 th:text="${task.name}">Store Shopping</h1>
      <p class="complete" th:if="${task.completed}">This task has been marked complete! </p>
      <p class="tagline" th:if="${!task.completed}">Here's what you still need to buy, based on your pantry inputs.</p>
    </div>

    <div class="checklist">
      <ul class = "shopping-list">
        <li th:each="item : ${task.shoppingList.items}"
                     th:if="${item.amount > 0}">
          <label>
            <input type="checkbox"
                   th:name="'checkedItems'"
                   th:value="${item.name}"
                   th:attr="disabled=${task.completed}, checked=${task.completed}" />
            <span th:text="${item.amount + ' ' + item.unit + ' ' + item.name}"></span>
          </label>
        </li>
      </ul>
    </div>

    <div class="shopping-btn-wrapper center" th:if="${mode == 'task' and !task.completed}">
      <button type="submit" class="btn">Mark Task As Complete</button>
    </div>
    <div class="shopping-btn-wrapper center" th:if="${mode == 'task' and task.completed}">
      <button type="submit" name="reopen" value="true" class="btn">Reopen Task</button>
    </div>
  </form>
  </div>
</main>
</body>
</html>
