<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
</head>
<body class="userFormPage">
<main layout:fragment="content">
    <div class="container">
    <div class="title">
    <h1>User Info</h1>
    <p th:if="${showMessage}" th:text="${message}">Sign up below to start turning sweet ideas into cake!</p>
  </div>
    <form>
            <div class="mb-3">
                <label for="firstNameInput">First name</label>
                <input type="text" class="form-control" id="firstNameInput" placeholder="First name" required>
            </div>
            <div class="mb-3">
                <label for="lastNameInput">Last name</label>
                <input type="text" class="form-control" id="lastNameInput" placeholder="Last name" required>
            </div>
            <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
        </div>
            <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="saveBtn">
        <a href="#" class="btn">Save</a>
        </div>
    </form>
    </div>
</main>

</body>
</html>